
$drk: rgb(224, 224, 224);
$lit: #f6f6f6;

@mixin btn {
    background: rgb(255,47,217);
    background: -moz-linear-gradient(-45deg, rgb(255,47,217) 0%, rgb(161,0,193) 96%, rgb(161,0,193) 96%, rgb(161,0,193) 100%);
    background: -webkit-linear-gradient(-45deg, rgb(255,47,217) 0%,rgb(161,0,193) 96%,rgb(161,0,193) 96%,rgb(161,0,193) 100%);
    background: linear-gradient(135deg, rgb(255,47,217) 0%,rgb(161,0,193) 96%,rgb(161,0,193) 96%,rgb(161,0,193) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff2fd9', endColorstr='#a100c1',GradientType=1 );
}