.ctn {
    display: flex;
    align-items: center;
    flex-flow: column;
    &__nav {
        object-fit: cover;
    }
    &__location {
        display: flex;
        i {
            font-size: 20px;
            align-self: center;
            padding: 5px;
        }
    }
    &__menu {
        display: flex;
        flex-flow: column;
        align-items: center;
    }
}