
.cards {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    &__box {
        width: 300px;
        margin: 20px;
        border-radius: 10px 10px 10px 10px;
        box-shadow: 2px 2px 5px 5px #e6e6e6;
    }
    &__bottom {
        display: flex;
        flex-flow: row;
        line-height: 0px;
        margin-top: -8px;
        justify-content: space-between;
        &-text {
            padding: 0px 0px 0px 10px;
        }
    }
    img {
        height: 180px;
        border-radius: 10px 10px 0px 0px;
        width: 300px;
    }
    background-color: $lit;




    .love-heart {
        padding: 23px 20px 0px 10px;
        font-size: 25px;
    }
    .love-heart input [type=checked]
        &:checked+label {
            background-color: blue;
        }
    i.far.fa-heart {
        &:hover {
            transform: scale(2);
            transition: transform 1000ms;
            background-color: brown;
        }


    }

    .love-heart-input { 
        display: none;     
    }
    .love-heart input {
        display: none;
    }
}