
@import "../abstracts/mixins";
@import "../components/buttons";

.cards {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
    height: 500px;
    border-radius: 10px 10px 0px 0px;
    &__image {
        object-fit: fill;
        height: 150px;
    }
    &__box {
        background-color: #fff;
        width: 300px;
        margin: 20px;
        border-radius: 10px 10px 10px 10px;
        box-shadow: 2px 2px 5px 5px #e6e6e6;
    }
    &__bottom {
        display: flex;
        line-height: 1px;
        &-text {
            display: flex;
            flex-flow: wrap;
            .love {
                &__heart {
                    padding: 0px 20px 0px 0px;
                    font-size: 30px;
                .fill {
                    display: none;
                }
                input {
                    display: none;
                }
                &-input:checked + label {
                    .fill {
                        display: inline;
                        color: blue;
                    }
                    .clear {
                        display: none;
                    }
                }
            }
            }
        }
    }
    background-color: $lit;
}