
body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}
.container {
    display: flex;
    align-items: center;
    flex-flow: column;
}
.loader {
    top: 50%;
    left: 42%;
    width: 120px;
    height: 120px;
    z-index: 99;
    position: absolute;
}