.filters {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 25px 0px 30px 30px;
    width: 100%;
    h2 {
        margin-left: -200px;
    }
    .f-text {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        background-color: #a100c1;
        width: 19px;
        height: 22px;
        border-radius: 15px;
        margin: 12px 0px 0px -7px;
        font-size: 15px;
    }
    &__btn {
        display: flex;
        justify-content: left;
        align-items: center;
        height: 75px;
        width: 315px;
        margin: 17px 20px 0px 0px;
        background-color: #f6f6f6;
        border-radius: 20px;
        i {
            color: #383838;
            margin-left: 30px;
            padding-right: 20px;
        }
        &-pink {
            background-color: #f8e8ff;
            i {
                color: #a100c1;;
            }
        }
    }
}