

.footer {
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color:  #5f5b5b;
    color: #fff;
    padding: 30px;
    img {
        color: #fff;
        margin-left: -60px;
        margin-bottom: 10px;
        width: 120px;
    }
    ul {
        margin: 2px;
        li {
            list-style-type: none;
            line-height: 1.7;
        }
        }
}
