.location {
    display: flex;
    justify-content: center;
    background-color: $drk;
    width: 100%;
    i {
        font-size: 20px;
        align-self: center;
        padding: 5px;
        }
    }