@import "../abstracts/mixins";

.menu {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
    padding-bottom: 30px;
    background-color: $lit;
    font-family: 'Roboto', sans-serif;
    p {
        font-weight: lighter;
    }
}
.explore {
    display: flex;
    justify-content: center;
    align-items: center;
    @include btn;
    color: #fff;
    width: 240px;
    height: 40px;
    border-radius: 20px;
}