body {
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}

.container {
  display: flex;
  align-items: center;
  flex-flow: column;
}

body {
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}

.container {
  display: flex;
  align-items: center;
  flex-flow: column;
}

.filters {
  margin: 25px 0px 30px 30px;
  width: 100%;
}

.filters .f-text {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #a100c1;
  width: 19px;
  height: 22px;
  border-radius: 15px;
  margin: 12px 0px 0px -7px;
  font-size: 15px;
}

.filters__btn {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 75px;
  width: 350px;
  margin: 17px;
  background-color: #f6f6f6;
  border-radius: 20px;
}

.filters__btn b {
  font-family: 'Roboto', sans-serif;
}

.filters__btn i {
  color: #383838;
  margin-left: 30px;
  padding-right: 20px;
}

.filters__btn-pink {
  background-color: #f8e8ff;
}

.filters__btn-pink i {
  color: #a100c1;
}

.location {
  display: flex;
  justify-content: center;
  background-color: #e0e0e0;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: bolder;
  color: #383838;
}

.location i {
  font-size: 20px;
  align-self: center;
  padding: 15px;
}

.location p {
  padding-top: 2px;
}

.menu {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
  padding-bottom: 30px;
  background-color: #f6f6f6;
  font-family: 'Roboto', sans-serif;
}

.menu p {
  font-weight: lighter;
  display: flex;
  flex-flow: wrap;
}

.explore {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ff2fd9;
  background: linear-gradient(135deg, #ff2fd9 0%, #a100c1 96%, #a100c1 96%, #a100c1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff2fd9', endColorstr='#a100c1',GradientType=1 );
  color: #fff;
  width: 260px;
  height: 50px;
  border-radius: 30px;
}

.nav {
  padding-top: 20px;
  object-fit: cover;
}

.cards {
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: #f6f6f6;
  width: 100%;
}

.card {
  position: relative;
  background-color: #fff;
  width: 300px;
  margin: 20px;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 2px 2px 5px 5px #e6e6e6;
}

.card__image {
  height: 180px;
  background-position: center;
  background-size: cover;
  flex-grow: 1;
  border-radius: 10px 10px 0px 0px;
}

.card__image .new {
  display: flex;
  justify-content: center;
  font-size: 15px;
  padding: 3px;
  width: 70px;
  border-radius: 3px;
  box-shadow: 0 0 2px #eee;
  border: none;
  outline: none;
  color: #387768;
  background-color: #84e9d0;
  position: absolute;
  top: 20px;
  right: 10px;
}

.card h6 {
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
}

.card p {
  font-family: 'Roboto', sans-serif;
  margin: -15px 0px 15px 0px;
  padding-bottom: 5px;
  color: #383838;
}

.card .text {
  display: flex;
  justify-content: space-between;
  line-height: 0;
  margin-top: -14px;
}

.card .text__section {
  padding: 0px 0px 5px 8px;
}

.love {
  align-self: center;
  font-size: 25px;
}

.love__heart {
  padding: 10px 20px 0px 0px;
  font-size: 30px;
}

.love__heart .fill {
  display: none;
}

.love__heart input {
  display: none;
}

.love__heart-input:checked + label {
  cursor: pointer;
}

.love__heart-input:checked + label .fill {
  display: inline;
  color: #fd0054;
}

.love__heart-input:checked + label .clear {
  display: none;
}

.footer {
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: #5f5b5b;
  color: #fff;
  padding: 30px;
}

.footer img {
  color: #fff;
  margin-left: -60px;
  margin-bottom: 10px;
  width: 120px;
}

.footer ul {
  margin: 2px;
}

.footer ul li {
  list-style-type: none;
  line-height: 1.7;
}
/*# sourceMappingURL=main.css.map */