body {
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}

.container {
  display: flex;
  align-items: center;
  flex-flow: column;
}

.filters {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 25px 0px 30px 30px;
  width: 100%;
}

.filters h2 {
  margin-left: -200px;
}

.filters .f-text {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #a100c1;
  width: 19px;
  height: 22px;
  border-radius: 15px;
  margin: 12px 0px 0px -7px;
  font-size: 15px;
}

.filters__btn {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 75px;
  width: 315px;
  margin: 17px 20px 0px 0px;
  background-color: #f6f6f6;
  border-radius: 20px;
  box-shadow: 0px 3px 5px 2px #e6e6e6;
}

.filters__btn i {
  color: #383838;
  margin-left: 30px;
  padding-right: 20px;
}

.filters__btn-pink {
  background-color: #f8e8ff;
}

.filters__btn-pink i {
  color: #a100c1;
}

.location {
  display: flex;
  justify-content: center;
  background-color: #e0e0e0;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: bolder;
  color: #383838;
}

.location i {
  font-size: 20px;
  align-self: center;
  padding: 15px;
}

.location p {
  padding-top: 2px;
}

.header {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
  padding-bottom: 30px;
  background-color: #f6f6f6;
  font-family: 'Roboto', sans-serif;
}

.header p {
  font-weight: lighter;
  display: flex;
  flex-flow: wrap;
}

.explore {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ff2fd9;
  background: linear-gradient(175deg, #ff2fd9 0%, #a100c1 96%, #a100c1 96%, #a100c1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff2fd9', endColorstr='#a100c1',GradientType=1 );
  color: #fff;
  width: 260px;
  height: 50px;
  border-radius: 30px;
  box-shadow: 0px 3px 3px 2px #d3d2d2;
}

.nav {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 20px;
  object-fit: cover;
  box-shadow: 0px 12px 3px -8px rgba(0, 0, 0, 0.24);
  margin-bottom: 3px;
}

.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 300px;
  padding-top: 20px;
  margin-bottom: 12px;
  margin-left: -70px;
}

.navigation__icon {
  font-size: 23px;
}

.navigation__icon i.fas.fa-arrow-left {
  color: #2b2b2b;
}

.order {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 60px auto;
  background: #ff2fd9;
  background: linear-gradient(175deg, #ff2fd9 0%, #a100c1 96%, #a100c1 96%, #a100c1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff2fd9', endColorstr='#a100c1',GradientType=1 );
  color: #fff;
  width: 260px;
  height: 50px;
  border-radius: 30px;
  box-shadow: 0px 3px 3px 2px #d3d2d2;
}

.card {
  position: relative;
  background-color: #fff;
  width: 300px;
  margin: 20px;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 2px 2px 5px 5px #e6e6e6;
}

.card__image {
  height: 180px;
  background-position: center;
  background-size: cover;
  flex-grow: 1;
  border-radius: 10px 10px 0px 0px;
}

.card__image .new {
  display: flex;
  justify-content: center;
  font-size: 15px;
  padding: 3px;
  width: 70px;
  border-radius: 3px;
  box-shadow: 0 0 2px #eee;
  border: none;
  outline: none;
  color: #387768;
  background-color: #84e9d0;
  position: absolute;
  top: 20px;
  right: 10px;
}

.card__text {
  display: flex;
  justify-content: space-between;
  line-height: 0;
  margin-top: -14px;
}

.card__text-section {
  padding: 0px 0px 5px 8px;
}

.card a {
  text-decoration: none;
}

.card h6 {
  color: black;
  font-size: 17px;
}

.card p {
  margin: -15px 0px 15px 0px;
  padding-bottom: 5px;
  color: #383838;
}

.love {
  align-self: center;
  font-size: 25px;
  color: #000;
}

.love__heart {
  padding: 10px 20px 0px 0px;
  font-size: 30px;
}

.love__heart .fill {
  display: none;
}

.love__heart input {
  display: none;
}

.love__heart-input:checked + label {
  cursor: pointer;
}

.love__heart-input:checked + label .fill {
  display: inline;
  color: #ff2fd9;
  display: block;
  background: -webkit-linear-gradient(25deg, #ff2fd9, #9c47fc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.love__heart-input:checked + label .clear {
  display: none;
}

.cards {
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: #f6f6f6;
  width: 100%;
}

.cards h2 {
  margin-left: -180px;
}

.order {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 60px auto;
  background: #ff2fd9;
  background: linear-gradient(175deg, #ff2fd9 0%, #a100c1 96%, #a100c1 96%, #a100c1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff2fd9', endColorstr='#a100c1',GradientType=1 );
  color: #fff;
  width: 260px;
  height: 50px;
  border-radius: 30px;
  box-shadow: 0px 3px 3px 2px #d3d2d2;
}

.footer {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  background-color: #5f5b5b;
  color: #fff;
  padding: 30px;
  width: 100%;
}

.footer img {
  height: 40px;
  margin-bottom: 10px;
}

.footer ul {
  margin: 2px 2px 2px -37px;
}

.footer ul li {
  list-style-type: none;
  line-height: 1.7;
}

.ctn {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: auto;
  width: 420px;
  overflow: hidden;
}

.image img {
  width: 100%;
}

.menu {
  background-color: #f6f6f6;
  border-radius: 30px 30px 0px 0px;
  margin-top: -45px;
  padding: 10px;
  width: 95.5%;
}

.menu h2 {
  margin-bottom: 0px;
}

.menu h4 {
  font-size: 14px;
  font-weight: lighter;
  margin-top: 35px;
  margin-bottom: 0px;
}

.menu hr {
  color: #62d4d2;
  width: 30px;
  margin-bottom: 15px;
}

.menu__header {
  display: flex;
  justify-content: space-between;
}

.menu__text {
  align-self: flex-start;
}

.menu__btns {
  display: block;
  width: 100%;
}

.menu__btn {
  transition: all 0.3s linear;
  text-decoration: none;
  background-color: #fff;
  padding: 14px 15px 12px;
  border-radius: 20px;
  margin-bottom: 15px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  display: block;
  color: #000;
  box-shadow: 0 5px 7px 0 rgba(70, 70, 70, 0.24), 0 0.5px 7px 0 rgba(100, 100, 100, 0.19);
}

.menu__btn-price {
  text-align: right;
  margin-left: auto;
  font-size: 20px;
}

.menu__btn-card {
  opacity: 0;
}

.menu__btn-card:nth-child(n + 1) {
  animation: 0.85s ease 0.1s forwards scrollLoad;
}

.menu__btn-card:nth-child(n + 2) {
  animation: 0.85s ease 0.2s forwards scrollLoad;
}

.menu__btn-card:nth-child(n + 3) {
  animation: 0.85s ease 0.3s forwards scrollLoad;
}

.menu__btn-card:nth-child(n + 4) {
  animation: 0.85s ease 0.4s forwards scrollLoad;
}

.menu__btn-card:nth-child(n + 5) {
  animation: 0.85s ease 0.5s forwards scrollLoad;
}

.menu__btn-card:nth-child(n + 6) {
  animation: 0.85s ease 0.6s forwards scrollLoad;
}

.menu__btn-card:nth-child(n + 7) {
  animation: 0.85s ease 0.7s forwards scrollLoad;
}

.menu__btn-card:nth-child(n + 8) {
  animation: 0.85s ease 0.8s forwards scrollLoad;
}

.menu__btn-card:nth-child(n + 9) {
  animation: 0.85s ease 0.9s forwards scrollLoad;
}

.menu__btn-card:nth-child(n + 10) {
  animation: 0.85s ease 1s forwards scrollLoad;
}

.menu__btn-card:nth-child(n + 11) {
  animation: 0.85s ease 1.1s forwards scrollLoad;
}

.menu__btn-card:nth-child(n + 12) {
  animation: 0.85s ease 1.2s forwards scrollLoad;
}

.menu__btn-card:nth-child(n + 13) {
  animation: 0.85s ease 1.3s forwards scrollLoad;
}

.menu__btn-card:nth-child(n + 14) {
  animation: 0.85s ease 1.4s forwards scrollLoad;
}

.menu__btn-card:nth-child(n + 15) {
  animation: 0.85s ease 1.5s forwards scrollLoad;
}

.menu__btn-card:nth-child(n + 16) {
  animation: 0.85s ease 1.6s forwards scrollLoad;
}

.menu__btn-card:nth-child(n + 17) {
  animation: 0.85s ease 1.7s forwards scrollLoad;
}

.menu__btn-card:nth-child(n + 18) {
  animation: 0.85s ease 1.8s forwards scrollLoad;
}

.menu__btn-card:nth-child(n + 19) {
  animation: 0.85s ease 1.9s forwards scrollLoad;
}

.menu__btn-card:nth-child(n + 20) {
  animation: 0.85s ease 2s forwards scrollLoad;
}

.menu__btn-card:nth-child(n + 21) {
  animation: 0.85s ease 2.1s forwards scrollLoad;
}

.menu__btn-card:nth-child(n + 22) {
  animation: 0.85s ease 2.2s forwards scrollLoad;
}

.menu__btn-card:nth-child(n + 23) {
  animation: 0.85s ease 2.3s forwards scrollLoad;
}

.menu__btn-card:nth-child(n + 24) {
  animation: 0.85s ease 2.4s forwards scrollLoad;
}

.menu__btn-card:nth-child(n + 25) {
  animation: 0.85s ease 2.5s forwards scrollLoad;
}

.menu__btn-card:nth-child(n + 26) {
  animation: 0.85s ease 2.6s forwards scrollLoad;
}

.menu__btn-card:nth-child(n + 27) {
  animation: 0.85s ease 2.7s forwards scrollLoad;
}

.menu__btn-card:nth-child(n + 28) {
  animation: 0.85s ease 2.8s forwards scrollLoad;
}

.menu__btn-card:nth-child(n + 29) {
  animation: 0.85s ease 2.9s forwards scrollLoad;
}

.menu__btn-card:nth-child(n + 30) {
  animation: 0.85s ease 3s forwards scrollLoad;
}

.menu__btn-card:nth-child(n + 31) {
  animation: 0.85s ease 3.1s forwards scrollLoad;
}

.menu__btn-card:nth-child(n + 32) {
  animation: 0.85s ease 3.2s forwards scrollLoad;
}

.menu__btn-card:nth-child(n + 33) {
  animation: 0.85s ease 3.3s forwards scrollLoad;
}

.menu__btn-card:nth-child(n + 34) {
  animation: 0.85s ease 3.4s forwards scrollLoad;
}

.menu__btn-card:nth-child(n + 35) {
  animation: 0.85s ease 3.5s forwards scrollLoad;
}

.menu__btn-card:nth-child(n + 36) {
  animation: 0.85s ease 3.6s forwards scrollLoad;
}

.menu__btn-card:nth-child(n + 37) {
  animation: 0.85s ease 3.7s forwards scrollLoad;
}

.menu__btn-card:nth-child(n + 38) {
  animation: 0.85s ease 3.8s forwards scrollLoad;
}

.menu__btn-card:nth-child(n + 39) {
  animation: 0.85s ease 3.9s forwards scrollLoad;
}

.menu__btn-card:nth-child(n + 40) {
  animation: 0.85s ease 4s forwards scrollLoad;
}

.menu__btn-card:nth-child(n + 41) {
  animation: 0.85s ease 4.1s forwards scrollLoad;
}

.menu__btn-card:nth-child(n + 42) {
  animation: 0.85s ease 4.2s forwards scrollLoad;
}

.menu__btn-card:nth-child(n + 43) {
  animation: 0.85s ease 4.3s forwards scrollLoad;
}

.menu__btn-card:nth-child(n + 44) {
  animation: 0.85s ease 4.4s forwards scrollLoad;
}

.menu__btn-card:nth-child(n + 45) {
  animation: 0.85s ease 4.5s forwards scrollLoad;
}

.menu__btn-card:nth-child(n + 46) {
  animation: 0.85s ease 4.6s forwards scrollLoad;
}

.menu__btn-card:nth-child(n + 47) {
  animation: 0.85s ease 4.7s forwards scrollLoad;
}

.menu__btn-card:nth-child(n + 48) {
  animation: 0.85s ease 4.8s forwards scrollLoad;
}

.menu__btn-card:nth-child(n + 49) {
  animation: 0.85s ease 4.9s forwards scrollLoad;
}

.menu__btn-card:nth-child(n + 50) {
  animation: 0.85s ease 5s forwards scrollLoad;
}

.menu__btn-card:nth-child(n + 51) {
  animation: 0.85s ease 5.1s forwards scrollLoad;
}

.menu__btn-card:nth-child(n + 52) {
  animation: 0.85s ease 5.2s forwards scrollLoad;
}

.menu__btn-card:nth-child(n + 53) {
  animation: 0.85s ease 5.3s forwards scrollLoad;
}

.menu__btn-card:nth-child(n + 54) {
  animation: 0.85s ease 5.4s forwards scrollLoad;
}

.menu__btn-card:nth-child(n + 55) {
  animation: 0.85s ease 5.5s forwards scrollLoad;
}

.menu__btn-card:nth-child(n + 56) {
  animation: 0.85s ease 5.6s forwards scrollLoad;
}

.menu__btn-card:nth-child(n + 57) {
  animation: 0.85s ease 5.7s forwards scrollLoad;
}

.menu__btn-card:nth-child(n + 58) {
  animation: 0.85s ease 5.8s forwards scrollLoad;
}

.menu__btn-card:nth-child(n + 59) {
  animation: 0.85s ease 5.9s forwards scrollLoad;
}

.menu__btn-card:nth-child(n + 60) {
  animation: 0.85s ease 6s forwards scrollLoad;
}

.menu__btn-card:nth-child(n + 61) {
  animation: 0.85s ease 6.1s forwards scrollLoad;
}

.menu__btn-card:nth-child(n + 62) {
  animation: 0.85s ease 6.2s forwards scrollLoad;
}

.menu__btn-card:nth-child(n + 63) {
  animation: 0.85s ease 6.3s forwards scrollLoad;
}

.menu__btn-card:nth-child(n + 64) {
  animation: 0.85s ease 6.4s forwards scrollLoad;
}

.menu__btn-card:nth-child(n + 65) {
  animation: 0.85s ease 6.5s forwards scrollLoad;
}

.menu__btn-card:nth-child(n + 66) {
  animation: 0.85s ease 6.6s forwards scrollLoad;
}

.menu__btn-card:nth-child(n + 67) {
  animation: 0.85s ease 6.7s forwards scrollLoad;
}

.menu__btn-card:nth-child(n + 68) {
  animation: 0.85s ease 6.8s forwards scrollLoad;
}

.menu__btn-card:nth-child(n + 69) {
  animation: 0.85s ease 6.9s forwards scrollLoad;
}

.menu__btn-card:nth-child(n + 70) {
  animation: 0.85s ease 7s forwards scrollLoad;
}

.menu__btn-card:nth-child(n + 71) {
  animation: 0.85s ease 7.1s forwards scrollLoad;
}

.menu__btn-card:nth-child(n + 72) {
  animation: 0.85s ease 7.2s forwards scrollLoad;
}

.menu__btn-card:nth-child(n + 73) {
  animation: 0.85s ease 7.3s forwards scrollLoad;
}

.menu__btn-card:nth-child(n + 74) {
  animation: 0.85s ease 7.4s forwards scrollLoad;
}

.menu__btn-card:nth-child(n + 75) {
  animation: 0.85s ease 7.5s forwards scrollLoad;
}

.menu__btn-card:nth-child(n + 76) {
  animation: 0.85s ease 7.6s forwards scrollLoad;
}

.menu__btn-card:nth-child(n + 77) {
  animation: 0.85s ease 7.7s forwards scrollLoad;
}

.menu__btn-card:nth-child(n + 78) {
  animation: 0.85s ease 7.8s forwards scrollLoad;
}

.menu__btn-card:nth-child(n + 79) {
  animation: 0.85s ease 7.9s forwards scrollLoad;
}

.menu__btn-card:nth-child(n + 80) {
  animation: 0.85s ease 8s forwards scrollLoad;
}

.menu__btn-card:nth-child(n + 81) {
  animation: 0.85s ease 8.1s forwards scrollLoad;
}

.menu__btn-card:nth-child(n + 82) {
  animation: 0.85s ease 8.2s forwards scrollLoad;
}

.menu__btn-card:nth-child(n + 83) {
  animation: 0.85s ease 8.3s forwards scrollLoad;
}

.menu__btn-card:nth-child(n + 84) {
  animation: 0.85s ease 8.4s forwards scrollLoad;
}

.menu__btn-card:nth-child(n + 85) {
  animation: 0.85s ease 8.5s forwards scrollLoad;
}

.menu__btn-card:nth-child(n + 86) {
  animation: 0.85s ease 8.6s forwards scrollLoad;
}

.menu__btn-card:nth-child(n + 87) {
  animation: 0.85s ease 8.7s forwards scrollLoad;
}

.menu__btn-card:nth-child(n + 88) {
  animation: 0.85s ease 8.8s forwards scrollLoad;
}

.menu__btn-card:nth-child(n + 89) {
  animation: 0.85s ease 8.9s forwards scrollLoad;
}

.menu__btn-card:nth-child(n + 90) {
  animation: 0.85s ease 9s forwards scrollLoad;
}

.menu__btn-card:nth-child(n + 91) {
  animation: 0.85s ease 9.1s forwards scrollLoad;
}

.menu__btn-card:nth-child(n + 92) {
  animation: 0.85s ease 9.2s forwards scrollLoad;
}

.menu__btn-card:nth-child(n + 93) {
  animation: 0.85s ease 9.3s forwards scrollLoad;
}

.menu__btn-card:nth-child(n + 94) {
  animation: 0.85s ease 9.4s forwards scrollLoad;
}

.menu__btn-card:nth-child(n + 95) {
  animation: 0.85s ease 9.5s forwards scrollLoad;
}

.menu__btn-card:nth-child(n + 96) {
  animation: 0.85s ease 9.6s forwards scrollLoad;
}

.menu__btn-card:nth-child(n + 97) {
  animation: 0.85s ease 9.7s forwards scrollLoad;
}

.menu__btn-card:nth-child(n + 98) {
  animation: 0.85s ease 9.8s forwards scrollLoad;
}

.menu__btn-card:nth-child(n + 99) {
  animation: 0.85s ease 9.9s forwards scrollLoad;
}

.menu__btn-card:nth-child(n + 100) {
  animation: 0.85s ease 10s forwards scrollLoad;
}

.menu__btn-card input:checked ~ label {
  padding-right: 65px;
}

.menu__btn-card input:checked ~ label .menu__btn-icon {
  right: 0;
}

.menu__btn-card input:checked ~ label .menu__btn-icon img {
  transform: rotate(0deg);
}

.menu__btn h5 {
  margin: 0px 0px 5px;
  font-size: 16px;
}

.menu__btn-icon {
  display: flex;
  transition: all 0.4s ease;
  border-radius: 0 20px 2px 0;
  background-color: #62d4d2;
  position: absolute;
  height: 100%;
  right: -60px;
  width: 55px;
  top: 0;
}

.menu__btn-icon img {
  transition: all 0.6s ease;
  transform: rotate(-180deg);
  margin: auto;
  width: 24px;
}

.menu__btn-bottom {
  display: flex;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}

.menu__btn-bottom p {
  margin: 0;
  width: 100%;
  overflow: hidden;
  padding-right: 5px;
  white-space: nowrap;
  font-weight: lighter;
  text-overflow: ellipsis;
}

@keyframes scrollLoad {
  0% {
    transform: translate(0, 15px);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
/*# sourceMappingURL=main.css.map */