@import '../abstracts/mixins';
@import '../abstracts/variables';

.footer {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    background-color:  #5f5b5b;
    color: $white;
    padding: 20px 0px 0px 0px;
    width: 100%;
    img {
        height: 40px;
        margin: 0px 0px 0px 35px;
    }
    ul {
        margin: 2px 2px 2px 0px;
        li {
            list-style-type: none;
            line-height: 1.7;
        }
        }
}

@media screen and (min-width: 460px) {
    .footer {
        display: flex;
        flex-flow: row;
        justify-content: space-evenly;
        ul {
            font-size: 18px;
            display: flex;
            flex-flow: row;
            width: 100%;
            justify-content: space-evenly;
        }
    }
}
