@import "../abstracts/mixins";
@import '../abstracts/variables';

.header {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
    padding-bottom: 30px;
    background-color: $lit;
    font-family: 'Roboto', sans-serif;
    p {
        font-weight: lighter;
        display: flex;
        flex-flow: wrap;
    }
}
.explore {
    display: flex;
    justify-content: center;
    align-items: center;
    @include btn;
    color: $white;
    width: 260px;
    height: 50px;
    border-radius: 30px;
    box-shadow: 0px 3px 3px 2px #d3d2d2;
}