@import "../abstracts/mixins";
@import '../abstracts/variables';

.menu {
    background-color: $lit;
    border-radius: 30px 30px 0px 0px;
    margin-top: -45px;
    padding: 10px;
    width: 95.5%;
    h2 {
        margin-bottom: 0px;
        font-family: 'Shrikhand', cursive;
    }
    h4 {
        font-size: 14px;
        font-weight: lighter;
        margin-top: 35px;
        margin-bottom: 0px;
    }
    hr {
        display: inline-block;
        color: $primary;
        width: 30px;
        margin-bottom: 15px;
    }
    &__header {
        display: flex;
        justify-content: space-between;
    }
    &__text {
        align-self: flex-start;
    }
    &__btns {
        display: block;
        width: 100%;
    }
    &__btn {
        @include transition(all 0.3s linear);
        text-decoration: none;
        background-color: $white;
        padding: 14px 15px 12px;
        border-radius: 20px;
        margin-bottom: 15px;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        display: block;
        color: $dark;
        box-shadow: 0 5px 7px 0 rgba(70, 70, 70, 0.24), 0 .5px 7px 0 rgba(100, 100, 100, 0.19);
        &-price {
            display: block;
            text-align: right;
            margin-left: auto;
            font-size: 20px;
        }

        &-card{
            opacity: 0;

            @for $i from 1 through 100 {
                &:nth-child(n + #{$i}) {
                @include animate(0.85s ease $i *0.1s forwards scrollLoad);
            }
            }

            input:checked ~ label{
                padding-right: 65px;

                .menu__btn-icon{
                    right: 0;

                    img{
                        @include rotate(0deg);
                    }
                }
            }
        }

        h5 {
            margin: 0px 0px 5px;
            font-size: 16px;
        }

        &-icon {
            @include flexbox();
            @include transition (all 0.4s ease);
            border-radius:  0 20px 2px 0;
            background-color: $primary;
            position: absolute;
            height: 100%;
            right: -60px;
            width: 55px;
            top: 0;

            img {
                @include transition(all 0.6s ease);
                @include rotate (-180deg);
                margin: auto;
                width: 24px;
            }
        }

        &-bottom {
            font-weight: lighter;
            @include flexbox();
            @include align-items(center);
        }
    }
}


@-moz-keyframes scrollLoad {
    0% { 
        @include translate(0, 15px); 
        opacity: 0;
    }
    100% { 
        @include translate(0, 0);  
        opacity: 1;
    }
}
@keyframes scrollLoad {
    0% { 
        @include translate(0, 15px); 
        opacity: 0;
    }
    100% { 
        @include translate(0, 0);  
        opacity: 1;
    }
}